@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Barlow';
}

main {
  height: calc(100vh - 56px);
  margin-top: 56px;
}

header {
  height: 56px;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code.astro-code,
pre.astro-code {
  color: #abb2bf;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre.astro-code::-moz-selection,
pre.astro-code ::-moz-selection,
code.astro-code::-moz-selection,
code.astro-code ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre.astro-code::selection,
pre.astro-code::selection,
code.astro-code::selection,
code.astro-code::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code.astro-code,
  pre.astro-code {
    text-shadow: none;
  }
}
/* Code blocks */
pre.astro-code {
  padding: 1rem;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code.astro-code,
pre.astro-code {
  background: #282c34;
}

/* Inline code */
:not(pre) > code.astro-code {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}

:not(.dark) :not(pre) > code:not([class*='language']) {
  @apply text-sm rounded text-red-600;
}

.dark :not(pre) > code:not([class*='language']) {
  @apply text-sm rounded text-red-300;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9ca3af;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.astro-codecss .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8rem;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8rem;
  width: 3rem; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #9ca3af;
  display: block;
  padding-right: 0.8rem;
  text-align: right;
}

/* Make scrolls to not "headbutt". */
/* Reference: https://css-tricks.com/hash-tag-links-padding. */
h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 64px;
  scroll-snap-margin-top: 64px; /* iOS 11 and older */
}

/* If the browser supports the property... */
@supports (scroll-margin-top: 0) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 64px;
  }
}
