---
import { className } from './test.css.ts'

export interface Props {
  title: string;
}
const { title } = Astro.props;
---
<div class="layout">
  <article class="content">
  <div>
    <header>
      <h1 class="title">{title}</h1>
    </header>
    <main>
      <slot />
    </main>
  </div>
  </article>
</div>

<style>
.content {
  margin-bottom: 8rem;
}

.content :global(main > * + *) {
  margin-top: 1rem;
}

.content :global(h2) {
  margin-top: 4rem;
}

.title {
  margin: 0;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
}
</style>
