---
import { FormattedDate } from '../components/Date';
import { Text } from '../components/Typography';
import { Link } from '../components/Links';

export interface Props {
  title: string;
  publishDate: string;
  githubLink: string;
}

const { title, publishDate, githubLink } = Astro.props;
---

<header class="header">
  <Text as="h1" className="text-xl text-center my-0">{title}</Text>

  <div class="text-center my-0">
    <Link href={githubLink} className="inline-flex">View on GitHub</Link>

    <Text as="span" colorScheme="gray" className="mx-2">&bull;</Text>

    <FormattedDate publishDate={publishDate} client:visible />
  </div>
</header>

<style>
  .header {
    flex: 1;
  }
</style>
