---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import About from '../components/About.astro';

const { content } = Astro.props;
const { title, description } = content;

const url = Astro.request.canonicalURL;
const permalink = url.href;
---

<html lang={content.lang || 'en'}>
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <BlogHeader />
    <About title="About">
      <slot />
    </About>
  </body>
</html>
